<nvd3 [options]="options" [data]="data"></nvd3>

  	<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-body  modal-lg-12">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
            <b>{{year}}</b>
            <app-nb-retrait-par-poste-bar-chart [year]="year"></app-nb-retrait-par-poste-bar-chart>
        </div>
        </div>
        </div>
    </ng-template>
